[Unit]
Description=Ollama Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
ExecStart=/usr/local/bin/ollama serve
Restart=always
RestartSec=10
Environment="PATH=/usr/local/cuda/bin:/usr/bin:/bin:/usr/local/bin"

[Install]
WantedBy=multi-user.target